<app-header></app-header>

<div class="adopcion-content">
    <h1 class="title-adopcion">"Adoptar es darle una segunda oportunidad a un corazón lleno de amor y lealtad. ¡Cambia una vida y encuentra un amigo fiel para siempre!" 🐾</h1>
</div>

<div class="animales-container">
    <div *ngFor="let mascota of mascotas">
        <app-card-animales
          [imgSrc]="mascota.image"
          [name]="mascota.name"
          [namePet]="mascota.name"
          [refugio]="mascota.entity_name"
          [edad]="mascota.age"
          [raza]="mascota.race"
          [idMascota]="mascota.id_mascota"
          [entityId]="mascota.entity_id">
        </app-card-animales>
    </div>
</div>

<div class="footer-style">
    <app-footer></app-footer>
</div>
