<app-header></app-header>

<div class="adopcion-content">
    <h1 class="title-adopcion">"Adoptar es darle una segunda oportunidad a un corazón lleno de amor y lealtad. ¡Cambia una vida y encuentra un amigo fiel para siempre!" 🐾</h1>
</div>

<div class="animales-container">
    <app-card-animales imgSrc="perros/perro01.webp" 
    name="Lilo" 
    namaPet="Lilo"
    refugio="Santa Cruz"
    edad="1 año"
    raza="desconicido"/>
    <app-card-animales imgSrc="perros/perro02.jpg" 
    name="Pepito" 
    namaPet="Pepito"
    refugio="Santa Teresa"
    edad="10 años"
    raza="desconicido"/>   
    <app-card-animales imgSrc="perros/perro04.jpeg" 
    name="Coqui" 
    namaPet="Coqui"
    refugio="Santa Cruz"
    edad="13"
    raza="desconicido"/>
    <app-card-animales imgSrc="perros/perro06.jpeg" 
    name="Rigo" 
    namaPet="Rigo"
    refugio="Santa Cruz"
    edad="13"
    raza="desconicido"/>
</div>

<div class="footer-style">
    <app-footer></app-footer>
</div>
