<footer class="footer-class-footer">
    <div class="footer-content-footer">
        <div class="footer-section-footer about-footer">
            <h2 class="footer-heading-footer">Sobre Nosotros</h2>
            <p class="footer-text-footer">Somos una comunidad dedicada al rescate, cuidado y la adopcion de mascotas. Únete a nosotros para apoyar y mejorar la vida de las mascotas.</p>
        </div>
        
        <div class="footer-section-footer subscribe-footer">
            <h2 class="footer-heading-footer">Ayudanos a mejorar</h2>
            <form action="#" class="subscribe-form-footer">
                <textarea name="" id="" class="subscribe-input-footer" placeholder="Ingrese su comentario"></textarea>
                <button type="submit" class="subscribe-button-footer">Enviar</button>
            </form>
        </div>

        <div class="footer-section-footer social-footer">
            <h2 class="footer-heading-footer">Síguenos</h2>
            <div class="footer-icons-footer">
                <a href="#" class="icon-link-footer"><i class="fab fa-facebook-f"></i></a>
                <a href="#" class="icon-link-footer"><i class="fab fa-twitter"></i></a>
                <a href="#" class="icon-link-footer"><i class="fab fa-instagram"></i></a>
                <a href="#" class="icon-link-footer"><i class="fab fa-linkedin-in"></i></a>
            </div>
        </div>
    </div>
    <div class="footer-bottom-footer">
        <p class="footer-bottom-text-footer">© 2024 LittlePaws. Todos los derechos reservados.</p>
    </div>
</footer>
