<footer class="footer-class-footer">
    <div class="footer-content-footer">
        <div class="footer-section-footer about-footer">
            <h2 class="footer-heading-footer">Sobre Nosotros</h2>
            <p class="footer-text-footer">Somos una comunidad dedicada al rescate, cuidado y la adopcion de mascotas. Únete a nosotros para apoyar y mejorar la vida de las mascotas.</p>
        </div>
        
        <div class="footer-section-footer subscribe-footer">
            <h2 class="footer-heading-footer">Ayudanos a mejorar</h2>
            <form action="#" class="subscribe-form-footer">
                <textarea name="" id="" class="subscribe-input-footer" placeholder="Ingrese su comentario"></textarea>
                <button type="submit" class="subscribe-button-footer">Enviar</button>
            </form>
        </div>

        <div class="footer-section-footer social-footer">
            <h2 class="footer-heading-footer">Síguenos</h2>
            <div class="footer-icons-footer">
                <a href="#" class="icon-link-footer"><i class="fab fa-facebook-f"></i></a>
                <a href="#" class="icon-link-footer"><i class="fab fa-twitter"></i></a>
                <a href="#" class="icon-link-footer"><i class="fab fa-instagram"></i></a>
                <a href="#" class="icon-link-footer"><i class="fab fa-linkedin-in"></i></a>

                <i class="fas fa-share-alt icon-link-footer" (click)="openModal()"></i>
            </div>
        </div>
    </div>
    <div class="footer-bottom-footer">
        <p class="footer-bottom-text-footer">© 2024 LittlePaws. Todos los derechos reservados.</p>
    </div>

    <div class="modal-footer" [class.show]="isModalOpen">
        <div class="modal-content-footer">
            <h2 class="modal-shared">LittlePaws</h2>
            <p class="messaje-shared">¡Gracias por compartir!</p>
            <img src="QR/LittlePaws.svg" alt="Imagen de agradecimiento" class="modal-image-footer">
            <div class="modal-link-footer">
                <a href="https://ameth-toledo.github.io/prueba/" target="_blank" class="link-copied">https://ameth-toledo.github.io/prueba/</a>
                <i class="fas fa-copy icon-copy-footer" (click)="copyLink()"></i>
            </div>
            <button (click)="closeModal()" class="close-shared">Cerrar</button>
        </div>
    </div>

    <div class="alert-copied" *ngIf="isAlertVisible">
        <p class="exit-copied">Enlace copiado correctamente al portapeles</p>
    </div>

</footer>
