.little-header {
    background-color: #323f52;
    color: #fff;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 5px solid #4a90e2;
    border-radius: 0px 30px;
    margin-top: 30px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.logo-container {
    display: flex;
    align-items: center;
}

.little-logo {
    font-size: 1.5rem;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    margin-left: 10px;
    color: #f0a500;
}

.little-nav {
    display: flex;
    align-items: center;
}

.little-menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
}

.little-menu-li {
    font-size: 1rem;
}

.little-menu-li-a {
    color: #fff;
    text-decoration: none;
    position: relative; 
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    transition: color 0.3s ease;
}

.little-menu-li-a-config {
    color: #fff;
    text-decoration: none;
    position: relative; 
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    transition: color 0.3s ease;
    display: none;
}

.little-menu-li-a:hover {
    color: #f0a500;
    font-weight: bold;
}

.little-menu-li-a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background-color: #f0a500;
    left: 0;
    bottom: -5px;
    transition: width 0.3s ease;
}

.little-menu-li-a:hover::after {
    width: 100%;
}

.little-menu-li-a.active {
    color: #f0a500;
    font-weight: bold;
    border-bottom: 2px solid #f0a500;
}

.little-hamburger {
    display: none;
    background: none;
    border: none;
    font-size: 1.8rem;
    color: #fff;
    cursor: pointer;
}

.logo-little {
    width: 80px;
}

.close-button {
    background: none;
    border: none;
    font-size: 1.5rem;
    color: #fff;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
    display: none;
}

.login-btn {
    background-color: #00BFFF;
    border: none;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 18px;
    transition: background-color 0.3s ease;
}

.login-btn:hover {
    background-color: #0389b6;
}

.profile-btn {
    background: none;
    border: none;
    color: white;
    font-size: 1.8rem; 
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 8px; 
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}

.profile-btn:hover {
    color: #f0a500; 
}

.settings-icon {
    font-size: 1.8rem;  
    margin-left: 20px;  
    color: #fff;
    cursor: pointer;
}

.settings-icon:hover {
    color: #f0a500;
}

@media (max-width: 1024px) {
    .little-menu {
        gap: 15px;
    }
}

@media (max-width: 768px) {
    .settings-icon {
        display: none;
    }

    .close-button {
        display: block;
    }

    .little-header {
        padding: 10px 15px;
        width: 85%;
    }

    .logo-container {
        flex: 1;
    }

    .logo-little {
        width: 40px;
    }

    .little-nav {
        position: absolute;
        top: 60px;
        right: 0;
        width: 100%;
        height: 0;
        overflow: hidden;
        background-color: #323f52;
        transition: height 0.3s ease;
        flex-direction: column;
        text-align: center;
        border-radius: 20px;
    }

    .little-nav.open {
        height: 230px;
    }

    .little-menu {
        flex-direction: column;
        gap: 15px;
    }

    .little-hamburger {
        display: block;
    }

    .login-btn {
        border: none;
        padding: 8px 15px;
        font-size: 12px;
        width: auto;
        height: auto;
    }

    .little-menu-li-a {
        font-size: 1rem;
        color: #f0a500;
    }

    .little-logo {
        font-size: 20px;
    }

    .little-menu-li-a-config {
        display: block;
        font-size: 1rem;
        color: #f0a500;
    }
}
