<header class="little-header">
  <div class="logo-container">
    <img src="LittlePaws06.svg" alt="logo" class="logo-little" (click)="enviarInicio($event)">
    <h1 class="little-logo" (click)="enviarInicio($event)">LittlePaws</h1>
  </div>

  <nav [ngClass]="{ 'open': isOpen }" class="little-nav">
    <button class="close-button" (click)="toggleMenu()">✖</button>
    <ul class="little-menu">
      <li class="little-menu-li">
        <a [ngClass]="{ 'active': isRouteActive('/home') }" class="little-menu-li-a" (click)="enviarInicio($event)">Inicio</a>
      </li>
      <li class="little-menu-li">
        <a [ngClass]="{ 'active': isRouteActive('/adopciones') }" class="little-menu-li-a" (click)="enviarAdopcion($event)">Adopción</a>
      </li>
      <li class="little-menu-li">
        <a [ngClass]="{ 'active': isRouteActive('/donaciones') }" class="little-menu-li-a" (click)="enviarDonaciones($event)">Donaciones</a>
      </li>
      <li class="little-menu-li">
        <a [ngClass]="{ 'active': isRouteActive('/denuncias') }" class="little-menu-li-a" (click)="enviarDenuncias($event)">Denuncias</a>
      </li>

      
      
      <li class="little-menu-li">
        <a [ngClass]="{ 'active': isRouteActive('/mascotas-extraviadas') }" class="little-menu-li-a" (click)="enviarExtraviadas($event)">Extraviadas</a>
      </li>
      <!-- Nueva opción de configuración en el menú hamburguesa -->
      <li class="little-menu-li">
        <a class="little-menu-li-a-config" (click)="redirectToPerfilUser($event)">Configuración</a>
      </li>
    </ul>
  </nav>

  <div class="user-actions">
    <button class="profile-btn" *ngIf="isUserLoggedIn" (click)="redirectToPerfilUser($event)">
      <i class="fas fa-user-circle"></i> Perfil
    </button>
    
    <i class="fas fa-cog settings-icon" (click)="redirectToPerfilUser($event)"></i>

    <button class="login-btn" *ngIf="!isUserLoggedIn" (click)="enviarLogin($event)">
      <i class="fas fa-sign-in-alt"></i> Login
    </button>
  </div>

  <button class="little-hamburger" (click)="toggleMenu()">☰</button>
</header>
