<app-header class="app-header"></app-header>

<section class="user-profile">
  <header class="profile-header">
    <div class="avatar">
      <i class="fas fa-user-circle"></i>
    </div>
    <div class="user-info">
      <h1 class="profile-name">Hola, {{ userForm.nombre_completo.name }} {{ userForm.nombre_completo.last_name }}!</h1>
      <p class="profile-email">Email: {{ emailUser }}</p>
    </div>
  </header>

  <nav class="profile-actions">
    <div class="action-card add-complaint" aria-label="Agregar denuncia" (click)="enviarDenunciasForm($event)">
      <i class="fas fa-plus"></i>
      <div class="action-title">Agregar Denuncia</div>
      <div class="action-description">Reporta un incidente o situación.</div>
    </div>

    <div class="action-card add-lost-pet" aria-label="Agregar mascotas extraviadas" (click)="abrirModal()">
      <i class="fas fa-paw"></i>
      <div class="action-title">Agregar Mascotas Extraviadas</div>
      <div class="action-description">Ayuda a encontrar mascotas perdidas.</div>
    </div>

    <div class="action-card view-adoptions" aria-label="Ver adopciones" (click)="enviarAdopcionesUser($event)">
      <i class="fas fa-heart"></i>
      <div class="action-title">Ver Adopciones</div>
      <div class="action-description">Descubre mascotas en busca de un hogar.</div>
    </div>

    <div class="action-card edit-profile" aria-label="Editar perfil" (click)="abrirModalEditProfile()">
      <i class="fas fa-cog"></i>
      <div class="action-title">Editar Perfil</div>
      <div class="action-description">Actualiza tus datos de usuario.</div>
    </div>
  </nav>
</section>

<!-- Modal for adding lost pets -->
<div class="modal-add-mascotas-extraviadas" id="modal-add-mascotas">
  <div class="modal-content">
    <div class="header-modal">
      <img src="LittlePaws06.png" alt="logo" class="logo">
      <h1 class="title-modal">Little<span class="color">Paws</span></h1>  
    </div>
    <span class="close-btn" id="close-modal" (click)="cerrarModal()">&times;</span>

    <label for="name" class="modal-label">Ingrese el nombre de la mascota</label>
    <input type="text" id="name" class="modal-input" [(ngModel)]="mascota.nombre">

    <label for="age" class="modal-label">Ingrese la edad de la mascota</label>
    <input type="text" id="age" class="modal-input" [(ngModel)]="mascota.edad">

    <label for="breed" class="modal-label">Ingrese la raza de la mascota</label>
    <input type="text" id="breed" class="modal-input" [(ngModel)]="mascota.raza">

    <label for="sex" class="modal-label">Ingrese el sexo de la mascota</label>
    <select id="gender" name="sex" [(ngModel)]="mascota.sexo" required class="input-field" #gender="ngModel">
      <option value="macho">Macho</option>
      <option value="hembra">Hembra</option>
    </select>

    <label for="species" class="modal-label">Ingrese la especie de la mascota</label>
    <select id="species" name="species" [(ngModel)]="mascota.especie" required class="input-field" #species="ngModel">
      <option value="perro">Perro</option>
      <option value="gato">Gato</option>
      <option value="otro">Otro</option>
    </select>

    <label for="phone" class="modal-label">Ingrese el teléfono a quien comunicarse</label>
    <input type="text" id="phone" class="modal-input" [(ngModel)]="mascota.telefono">

    <label for="address" class="modal-label">Ingrese la dirección de extravío</label>
    <input type="text" id="address" class="modal-input" [(ngModel)]="mascota.direccion">

    <label for="address" class="modal-label">Ingrese una breve descripcion de la mascota</label>
    <input type="text" id="address" class="modal-input" [(ngModel)]="mascota.descripcion">

    <label for="lost-date" class="modal-label">Ingrese la fecha de extravío</label>
    <input type="date" id="lost-date" class="modal-input" [(ngModel)]="mascota.fecha_extravio">

    <button type="button" class="btn-extravio modal-btn" (click)="triggerFileInput()">
      <i class="fas fa-plus"></i> Agregar Imágenes
    </button>

    <button class="btn-extravio modal-btn" (click)="crearMascota()">Publicar</button>

    <button class="btn-cerrar-modal" (click)="cerrarModal()">Salir</button>
  </div>
</div>

<div class="modal-edit-profile" id="modal-edit-profile">
  <div class="form-edit-profile">
    <h2 class="modal-title">Editar Perfil</h2>
    <form (ngSubmit)="guardarCambios()">
      <label for="username">Nombre de usuario:</label>
      <input 
  type="text" 
  id="username" 
  [(ngModel)]="userForm.nombre_completo.name" 
  name="username" 
  placeholder="Escribe tu nombre de usuario"
>

      <label for="last_name">Apellido:</label>
      <input 
  type="text" 
  id="last_name" 
  [(ngModel)]="userForm.nombre_completo.last_name" 
  name="last_name" 
  placeholder="Escribe tu apellido"
>


      <label for="email">Correo electrónico:</label>
      <input 
        type="email" 
        id="email" 
        [(ngModel)]="userForm.email" 
        name="email" 
        placeholder="Escribe tu correo electrónico"
      >

      <label for="password">Nueva contraseña:</label>
      <input 
        type="password" 
        id="password" 
        [(ngModel)]="userForm.password" 
        name="password" 
        placeholder="Escribe tu nueva contraseña"
      >

      <button type="submit" class="modal-btn">Guardar Cambios</button>
      <button type="button" class="btn-cerrar-modal" (click)="cerrarModalEditProfile()">Cancelar</button>
    </form>
  </div>
</div>

<app-footer class="app-footer"></app-footer>
