<app-header />
<div class="main-title">
    <div class="detail-title">
        <h1 class="detail-title-bienvenida">
            <span>¡Bienvenido! a</span>
            <br> Little <span style="color:#00E8F8;">Paws</span>
        </h1>
        <p class="detail-title-parrafo">El paraíso donde comienzan las historias felices.<br> Patitas que buscan un hogar.</p>
        <div class="social-title">
            <a href="https://www.facebook.com/" class="social-title-enlaces"><i class="fab fa-facebook-f"></i></a>
            <a href="https://www.tiktok.com/" class="social-title-enlaces"><i class="fab fa-tiktok"></i></a>
            <a href="https://www.instagram.com/" class="social-title-enlaces"><i class="fab fa-instagram"></i></a>
            <a href="https://web.whatsapp.com/" class="social-title-enlaces"><i class="fab fa-whatsapp"></i></a>
        </div>

    </div>
    <div class="bann-imagenn">
        <img src="perros/bann.png" alt="" class="bann-imagen-dog">
        <div class="barra-bann">
            <h1 class="adoptame">¡Adoptame!</h1>
        </div>
    </div>

    <div class="adopcion-container">
        <div class="mobile">
            <img src="mobile/adopcion1.jpg" alt="adopcion1" class="adopcion-mobile" (click)="openModal('mobile/adopcion1.jpg')">
        </div>

        <div class="mobile">
            <img src="mobile/adopcion2.jpg" alt="adopcion2" class="adopcion-mobile" (click)="openModal('mobile/adopcion2.jpg')">
        </div>

        <div class="mobile">
            <img src="mobile/adopcion3.jpeg" alt="adopcion2" class="adopcion-mobile" (click)="openModal('mobile/adopcion3.jpeg')">
        </div>
        
    </div>
</div>

<div id="imageModal" class="modal" [class.show]="isModalOpen">
    <div class="modal-content">
        <div class="progress-bar">
            <div class="progress" [style.width.%]="progress"></div>
        </div>
        
        <span class="close" (click)="closeModal()">&times;</span>
        <img [src]="selectedImage" alt="Imagen seleccionada" class="modal-image" [class.viewed]="imageViewed">
        <p class="modal-description">
            Este adorable perrito está buscando un hogar lleno de amor y cuidado. ¡Adóptalo y cambia su vida!
        </p>
    </div>
</div>

<div class="animales-container">
    <app-card-animales imgSrc="perros/perro01.webp" 
    name="Rocko" 
    namaPet="Rocko"
    refugio="Santa Cruz"
    edad="1 año"
    raza="rottweiler"/>
    <app-card-animales imgSrc="perros/perro02.jpg" 
    name="Pepito" 
    namaPet="Pepito"
    refugio="Santa Teresa"
    edad="10 años"
    raza="desconocido"/>   
    <app-card-animales imgSrc="perros/perro04.jpeg" 
    name="Apolo" 
    namaPet="Apolo"
    refugio="Santa Cruz"
    edad="13"
    raza="Pitbull"/>
    <app-card-animales imgSrc="perros/perro06.jpeg" 
    name="Ramona" 
    namaPet="Ramona"
    refugio="Santa Cruz"
    edad="13"
    raza="galgo"/>
</div>

<div class="recomendacion-adopcion">
    <h1 class="titulo-recomendacion">Consulta los consejos de adopción</h1>
    <h2 class="subtitulo-recomendacion">¿Te preguntas cómo (y por qué) deberías adoptar? 
        Entérate de todo.</h2>
    <div class="contenedor-adopcion">
        <div class="recomendacion-adoptar card">
            <h2 class="adoptar-recomendacion">¿Por qué recomendamos adoptar?</h2>
            <p class="parrafo-adopcion">Adoptar una mascota es mucho más que llevar un animal a casa; es un acto de amor y generosidad que cambia vidas. 
                Imagina a un perro moviendo la cola por primera vez de felicidad o a un gato que, tras años de incertidumbre, encuentra un lugar seguro. 
                Al adoptar, le das a ese ser una segunda oportunidad, un hogar lleno de cariño, y recibes a cambio lealtad, compañía, y amor incondicional.
                Cada ladrido, ronroneo o mirada cargada de gratitud cuenta una historia de esperanza, adoptar no solo salva una vida, sino que contribuye a 
                reducir la sobrepoblación en refugios y deja espacio para que más animales puedan ser rescatados. Según las estadísticas, millones de mascotas 
                llegan a refugios cada año, pero no todas tienen la oportunidad de ser adoptadas, no compartimos esto para culparte, sino para inspirarte a ser 
                parte del cambio. Al adoptar, te conviertes en un héroe. Estamos aquí para hacer que el proceso de adopción sea simple, enriquecedor y memorable. 
                Haz que cada día cuente. Abre tu corazón y tu hogar. Adopta, y juntos transformemos dos vidas: la de tu nueva mascota y la tuya. ❤️</p>
        </div>
        <div class="encontrar-mascota card">
            <h2 class="adoptar-recomendacion">Cómo encontrar la mascota perfecta</h2>
            <p class="parrafo-adopcion">¿La mascota perfecta? Te tenemos una revelación: no existe. Pero hay algo mejor… ¡la mascota adecuada para ti!, 
                encontrar a tu nuevo compañero es más sencillo de lo que parece cuando sabes qué estás buscando, empieza reflexionando sobre tu estilo 
                de vida: ¿Vives en un departamento o en una casa con jardín?, ¿Prefieres un perro activo que te acompañe en aventuras o un gato tranquilo 
                que ronronee mientras lees?, ¿Tienes niños pequeños o ya hay otras mascotas en casa?. Estas preguntas te ayudarán a definir lo que necesitas 
                y lo que puedes ofrecer a tu futuro amigo peludo. Una vez que tengas claridad, nuestro equipo está listo para guiarte y ayudarte a identificar 
                a tu compañero ideal. Regístrate, cuéntanos lo que buscas, y te enviaremos un correo electrónico con los animales que se ajusten a tu perfil. 
                ¡Así podrás conocer rápidamente a tu próximo mejor amigo y darle ese hogar que tanto espera!. Recuerda: no se trata de encontrar algo perfecto,
                sino de crear una conexión única, porque cuando miras a los ojos de la mascota adecuada, no hay duda… sabrás que es el comienzo de una hermosa 
                amistad. ❤️
</p>
        </div>
    </div>
</div>

<h1 class="ubication-veterinaria-principal">
    <i class="fas fa-dog"></i> Clinica Veterinaria ZOO
</h1>

<div class="map-container">
    <iframe 
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3820.7379938843965!2d-93.07624892395266!3d16.73991988404096!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85ed27a3971854c5%3A0xb2c29fa8a91f274f!2sCl%C3%ADnica%20Veterinaria%20Zoo%20Hospital!5e0!3m2!1ses!2smx!4v1728265209762!5m2!1ses!2smx" 
        width="600" 
        height="450" 
        style="border:0;" 
        allowfullscreen="" 
        loading="lazy" 
        referrerpolicy="no-referrer-when-downgrade" 
        class="map-veterinaria">
    </iframe>
</div>
<!-- agregar apartado de denuncias 💬-->
<!-- agregar apartado de extraviadas -->
<section class="info-section">
    <div class="container-home">
        <h1 class="info-tittle">LittlePaws</h1>
        <p class="info-description">Descubre las clinicas veterinarias asociadas a LittlePaws</p>
        <button class="cta-button" (click)="enviarVeterinarias($event)">Explorar</button>
    </div>
</section>


<div class="animales-container">
    <app-card-animales imgSrc="gatos/gato2.jpg" 
    name="Napoleon" 
    namaPet="Napoleon"
    refugio="Santa Cruz"
    edad="1 año"
    raza="desconocido"/>
    <app-card-animales imgSrc="gatos/gato3.jpg" 
    name="Bonni y Black" 
    namaPet="Bonni y Black"
    refugio="Santa Teresa"
    edad="4 años"
    raza="desconocido"/>   
    <app-card-animales imgSrc="gatos/gato4.jpeg" 
    name="Jerry" 
    namaPet="Jerry"
    refugio="Santa Cruz"
    edad="8"
    raza="mestizo"/>
    <app-card-animales imgSrc="gatos/gato5.jpg" 
    name="Pelusa" 
    namaPet="Pelusa"
    refugio="Santa Cruz"
    edad="1 año"
    raza="desconocido"/>
</div>

<app-chatbot></app-chatbot>
<app-footer/>