.barra-bann {
    width: 80vw; 
    height: 80px;
    background-color: #323f52;
    z-index: 1;
    position: absolute; 
    top: -45px; 
    left: 35%; 
    transform: translateX(-50%); 
    font-family: 'Poppins', sans-serif;
    font-size: 34px;
    font-weight: bold;
    color: #f0a500;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 5rem auto;
    margin-left: 120px;
    gap: 2rem;
}

.detail-title {
    flex: 1;
}

.detail-title-bienvenida {
    font-family: 'Poppins', sans-serif;
    font-size: 2.5rem;
    font-weight: 600;
    color: #fff;
}

.detail-title-parrafo {
    margin-top: 1rem;
    font-size: 0.98rem;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    color: #fff;
}

.social-title {
    display: flex;
    gap: 1.4rem;
    margin-top: 1.7rem;
}

.social-title-enlaces {
    color: #00E8F8;
    font-size: 1.7rem;
    border: 1.6px solid #00E8F8;
    border-radius: 50%;
    padding: 0.5rem;
    text-align: center;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease-in-out;
    text-decoration: none;
}

.social-title-enlaces:hover {
    color: #1F252E;
    background-color: #00E8F8;
    box-shadow: 0 0 20px #00E8F8;
}

.bann-imagenn {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 40%;
}

.bann-imagen-dog {
    width: 100%;
    height: auto;
    filter: drop-shadow(2px 2px 20px cyan);
}

.barra-bann {
    width: 250%;
    height: 80px;
    background-color: #323f52;
    z-index: -1;
    margin-top: -30px;
    position: relative;
    font-family: 'Poppins', sans-serif;
    font-size: 34px;
    font-weight: bold;
    color: #f0a500;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: right;
}

.adoptame {
    font-size: 45px;
    margin-right: 200px;
}

.mobile {
    display: none;
}

.adopcion-mobile {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid #00E8F8;
    box-shadow: 0 0 15px rgba(0, 232, 248, 0.5);
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
}

.modal.show {
    display: flex;
}

.modal-content {
    position: relative;
    background-color: white;
    padding: 1rem;
    border-radius: 10px;
    width: 80%;
    max-width: 600px;
    text-align: center;
}

.close {
    position: absolute;
    top: 10px;
    right: 20px;
    color: black;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
}

.modal-image {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.modal-description {
    margin-top: 1rem;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 1rem;
    color: #333;
}

.progress-bar {
    width: 100%;
    background-color: #ddd;
    height: 5px;
    margin-bottom: 10px;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
}

.progress {
    height: 100%;
    background-color: #00E8F8;
    width: 0%;
    transition: width 0.5s ease;
}

.adopcion-mobile.viewed {
    border: 3px solid green;
}

.modal-image.viewed {
    border: 3px solid green;
}

.adopcion-container {
    display: flex;
    justify-content: flex-start;
    gap: 1rem;
}

.animales-container {
    display: flex;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;
    margin: 20px 0;
}

.ubication-veterinaria-principal {
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
    font-weight: 700;
    color: white;
    text-align: center;
    margin: 20px auto;
    padding: 10px 20px;
    background: linear-gradient(135deg, rgba(0, 0, 0, 0.7) 0%, rgba(0, 128, 128, 0.7) 100%);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
}

.ubication-veterinaria-principal i {
    margin-right: 10px;
    color: white;
    font-size: 1.5rem;
}

.map-container {
    display: flex;
    justify-content: center;
    margin: 20px 0;
    padding: 10px;
    border: 2px solid #00E8F8;
    border-radius: 10px;
    overflow: hidden;
}

.map-veterinaria {
    border: none;
    width: 100%;
    height: 600px;
}

/*nuevo*/
.recomendacion-adopcion {
    width: 100%; 
    padding: 40px 20px; 
    box-sizing: border-box; 
}

.titulo-recomendacion {
    font-family: 'Poppins';
    font-size: 48px; 
    text-align: center; 
    color: #00BFFF;
    margin-bottom: 20px; 
}

.subtitulo-recomendacion {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    margin-bottom: 30px; 
    color: white;
}

.contenedor-adopcion {
    display: flex;
    justify-content: space-between; 
    align-items: flex-start; 
    max-width: 1200px; 
    margin: 0 auto; 
}

.card {
    background: none; 
    border: 1px solid #00BFFF; 
    border-radius: 5px; 
    padding: 20px; 
    margin: 0 10px; 
    flex: 1; 
    transition: transform 0.3s; 
}

.card:hover {
    transform: translateY(-3px); 
}

.adoptar-recomendacion {
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    margin-bottom: 10px;
    text-align: center;
    color: white;
}

.parrafo-adopcion {
    font-size: 16px; 
    line-height: 1.5; 
    text-align: left; 
    color: white;
    font-family: 'Poppins', sans-serif;
}

/*nuevo*/
.info-section {
    background-color: #2C3E50;
    padding: 60px 20px;
    text-align: center;
  }
  
  .container-home {
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .info-tittle {
    font-family: 'Poppins', sans-serif;
    color: #f0a500;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 20px;
  }
  
  .info-description {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    margin-bottom: 40px;
    color: #d0d0d0;
  }
  
  .cta-button {
    background-color: #00BFFF;
    border: none;
    width: 300px;
    height: 50px;
    color: black;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;
  }
  
  .cta-button:hover {
    background-color: #00E8F8;
  }
  

@media (max-width: 768px) {
    .main-title {
        margin-top: 15px;
        flex-direction: column;
        align-items: center;
        margin-left: 0;
        padding: 0 1rem;
    }

    .detail-title-bienvenida {
        font-size: 2rem;
    }

    .detail-title-parrafo {
        font-size: 0.9rem;
    }

    .social-title {
        justify-content: center;
        margin-top: 1rem;
    }

    .social-title-enlaces {
        width: 40px;
        height: 40px;
        padding: 0.4rem;
    }

    .bann-imagenn {
        display: none;
    }

    .barra-bann {
        width: 70%;
        font-size: 28px;
    }

    .bann-imagen-dog {
        width: 100%;
        height: auto;
    }

    .mobile {
        display: flex;
        justify-content: center;
        margin-top: 2rem;
    }

    .ubication-veterinaria-principal {
        font-size: 1.5rem;
        padding: 5px 15px;
    }

    .map-veterinaria {
        height: 300px;
    }

    .ver-mas-veterinarias {
        font-size: 14px;
        width: 200px;
        height: 50px;
    }

    /**/
    .contenedor-adopcion {
        flex-direction: column; 
        align-items: center;
    }

    .card {
        margin: 10px 0; 
        width: 90%; 
    }

    .titulo-recomendacion {
        font-size: 36px; 
    }

    .subtitulo-recomendacion {
        font-size: 20px; 
    }

    .adoptar-recomendacion {
        font-size: 20px; 
    }

    .parrafo-adopcion {
        font-size: 14px; 
    }
}
