<header class="little-header-container">
    <div class="logo-section">
        <img src="LittlePaws06.svg" alt="logo" class="logo-img">
        <h1 class="header-logo-text">Little Paws</h1>
    </div>

    <h1 class="name-entidad">Bienvenido: {{ nameEntidad }}</h1>

    <button class="login-button" (click)="enviarLogin($event)">
        <i [class]="isUserLoggedIn ? 'fas fa-sign-out-alt' : 'fas fa-sign-in-alt'"></i>
        {{ isUserLoggedIn ? 'Cerrar sesión' : 'Login' }}
    </button>
</header>
