<app-header></app-header>

<div class="denuncias-content">
  <h1 class="title-denuncias">Si tu tambien conoces algun caso de maltrato animal, puedes denunciar presionando el boton de aqui abajo</h1>
  <button class="btn-denuncia" (click)="enviarDenunciarForm($event)">Denuncia!</button>
</div>




<div *ngFor="let denuncia of denuncias" class="animales-container">
  <app-card-denuncias
    [nombre]="denuncia.motivo"
    [descripcion]="denuncia.descripcion"
    [imagenes]="[denuncia.imagen]"
  ></app-card-denuncias>
</div>

<app-footer></app-footer>

<!--
  botones de agregar comentario   usuario y entidad
  seguimiento, dar seguimiento o no boton 
-->