<app-header></app-header>

<div class="denuncias-content">
  <h1 class="title-denuncias">Si tu tambien conoces algun caso de maltrato animal, puedes denunciar presionando el boton de aqui abajo</h1>
  <button class="btn-denuncia" (click)="enviarDenunciarForm($event)">Denuncia!</button>
</div>

<app-card-denuncias
  nombre="Sayuri"
  descripcion="los maltratan a los chuchos, pobrecitos pue chito"/> <!--tambien hay un arreglo de imagenes como  propt-->
<app-card-denuncias
  nombre="Fabricio"
  descripcion="los perritos son maltratados haya donde vivo yo, :(("/>
<app-card-denuncias
  nombre="Milton"
  descripcion="los perritos son maltratados y me da coraje por que son seres humanos"/>
<app-card-denuncias
  nombre="Gael"
  descripcion=""/>

<app-footer></app-footer>
