.denuncia-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    text-align: center;
    margin-bottom: 80px
  }
  
  .tittle-denuncias {
    font-family: 'Poppins', sans-serif;
    color: #f0a500;
    font-size: 2.5rem;
    margin-bottom: 30px;
  }
  
  .denuncia-layout {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    max-width: 1200px;
  }
  
  .denuncia-form {
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .input-group {
    position: relative;
  }
  
  .input-group_input {
    font-family: 'Poppins';
    color: #fff;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    outline: 2px solid #fff;
    background-color: transparent;
    transition: outline-color 500ms;
  }
  
  .input-group_input:is(:focus, :valid) {
    outline-color: #3c50eb;
  }
  
  .input-group_label {
    font-family: 'Poppins';
    position: absolute;
    top: 0;
    left: 0;
    translate: 10px 10px;
    color: #fff;
    transition: translate 500ms, scale 500ms;
  }
  
  .input-group_input:focus + .input-group_label,
  .input-group_input:valid + .input-group_label {
    padding-inline: 5px;
    translate: 10px -14px;
    scale: 0.8;
    background-color: #000;
  }
  
  .button-group {
    display: flex;
    gap: 10px; 
  }
  
  .agregar-denuncia-btn,
  .modificar-btn {
    background-color: #00BFFF;
    border: none;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    cursor: pointer;
    padding: 10px;
    border-radius: 10px;
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 5px;
  }
  
  .agregar-denuncia-btn:hover,
  .modificar-btn:hover {
    background-color: #0389b6;
  }
  
  .denuncia-imagen {
    width: 150px;
    height: 150px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    object-fit: cover;
    border-radius: 4px;
  }
  
  @media (max-width: 768px) {
    .denuncia-layout {
      flex-direction: column;
      align-items: center;
    }
  
    .denuncia-form {
      width: 80%;
    }
  
    .container-denuncia-previa {
      width: 90%;
    }
  
    .card-denuncia {
      width: 100%;
    }
  }
  