.card-animales {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    background-color: #2C3742;
    border-radius: 15px;
    padding: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    color: #FFFFFF;
    transition: transform 0.3s;
    width: 600px; 
    height: 240px;
    box-sizing: border-box; 
    overflow: hidden; 
}

.image-animales {
    border-radius: 15px;
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-right: 10px;
}

.info-animales {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    height: 100%; 
    overflow: hidden; 
}

.name-animales {
    font-family: 'Poppins';
    font-size: 24px;
    white-space: nowrap; 
    text-overflow: ellipsis; 
    overflow: hidden;
}

.raza, .refugio, .edad {
    font-family: 'Poppins';
    font-size: 18px;
    margin: 2px 0;
    display: flex;
    align-items: center;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.raza i, .refugio i, .edad i {
    margin-right: 5px;
    color: #00BFFF;
}

.adop-btn {
    background-color: #00BFFF;
    border: none;
    width: 100%;
    height: 40px;
    border-radius: 10px;
    font-family: 'Poppins';
    font-weight: bold;
    margin-top: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.adop-btn:hover {
    background-color: #008ac6;
}

@media (max-width: 768px) {
    .card-animales {
        flex-direction: column;
        width: 100%; 
        max-width: 350px; 
        height: auto; 
        padding: 10px;
    }

    .image-animales {
        width: 150px;
        height: 150px;
        object-fit: cover;
        margin: 0 auto 10px auto;
    }

    .info-animales {
        align-items: flex-start;
        text-align: left;
        height: auto; 
        width: 100%;
    }

    .adop-btn {
        width: 100%;
        height: 50px;
        font-size: 18px;
        margin-top: 10px;
        margin-left: auto;
        margin-right: auto;
    }
}
