<div class="card-animales">
    <img [src]="imgSrc" alt="img-animales" class="image-animales" />
    <div class="info-animales">
        <h1 class="name-animales">{{ name }}</h1>
        <h2 class="raza">
            <i class="fas fa-dog"></i> Nombre:  
        </h2>
        <h2 class="refugio">
            <i class="fas fa-plus-circle"></i> Refugio:
        </h2>
        <h2 class="edad">
            <i class="fas fa-paw"></i> Edad:
        </h2>
        <h2 class="raza">
            <i class="fas fa-certificate"></i> Raza:
        </h2>
    </div>
</div>
