<app-header/>
<app-veterinaria-head
    nameVeterinaria="Clinica Veterinaria Zoo"
    descripcionVeterinaria="Bienvenido!! "
    imgSrc="veterinaria/veterinaria.avif"/>
    
<h1 class="ubication-veterinaria-principal">
    <i class="fas fa-dog"></i> Clinica Veterinaria ZOO
</h1>

<div class="map-container">
    <iframe 
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3820.7379938843965!2d-93.07624892395266!3d16.73991988404096!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85ed27a3971854c5%3A0xb2c29fa8a91f274f!2sCl%C3%ADnica%20Veterinaria%20Zoo%20Hospital!5e0!3m2!1ses!2smx!4v1728265209762!5m2!1ses!2smx" 
        width="600" 
        height="450" 
        style="border:0;" 
        allowfullscreen="" 
        loading="lazy" 
        referrerpolicy="no-referrer-when-downgrade" 
        class="map-veterinaria">
    </iframe>
</div>

<app-footer/>