<app-header />
<app-veterinaria-head
    nameVeterinaria="Clinica Veterinaria Zoo"
    descripcionVeterinaria="Bienvenido!! "
    imgSrc="veterinaria/Zoo.jpeg"
    telefonoVeterinaria="961 000 0000"
    emailVeterinaria="veterinaria-zoo@gmail.com"
    direccionVeterinaria="12 de noviembre"
    horarioVeterinaria="9 am - 12 pm" />

<h1 class="ubication-veterinaria-principal">
    <i class="fas fa-dog"></i> Clinica Veterinaria ZOO
</h1>


<div class="map-container">
    <iframe
        id="googleMapIframe"
        width="600"
        height="450"
        style="border:0;"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
        class="map-veterinaria">
    </iframe>
</div>

<div class="info-head">
    <span 
        class="info-option" 
        [class.selected]="selectedOption === 'fotos'" 
        (click)="selectOption('fotos')">Fotos
    </span>
    <span 
        class="info-option" 
        [class.selected]="selectedOption === 'publicaciones'" 
        (click)="selectOption('publicaciones')">Publicaciones
    </span>
</div>

<img src="Zoo/Zoo01.jpg" alt="Little-Paws"/>
<img src="" alt="">

<app-footer />
