.card-denuncia {
    background-color: #2C3742;  
    border: 1px solid #ddd;      
    border-radius: 8px;
    padding: 20px;
    width: 100%;
    max-width: 600px;
    margin: 20px auto;
    font-family: 'Poppins', sans-serif;
    color: #f0f0f0;              
}

.card-header {
   background-color: #f0a500;  
   padding: 10px;
   border-radius: 6px 6px 0 0;
   color: white;
}

.card-email,
.card-ubicacion {
   margin: 5px 0;
   color: #fff;  
}
  
.card-title {
   margin: 0;
   font-size: 1.5rem;
}

.card-body {
   padding: 10px;  
}

.card-descripcion,
.card-text {
   margin: 10px 0;
   color: #f0f0f0;             
}

.card-imagen-container {
    margin-top: 10px;
}

.card-imagen-label {
    margin: 10px 0;
    color: #f0f0f0;            
}

.denuncia-imagen {
    width: 100px;                
    height: 100px;
    object-fit: cover;
    border: 1px solid #ddd;     
}

@media (max-width: 768px) {
    .card-denuncia {
        width: 90%;
        padding: 15px;           
        margin: 10px; 
    }

    .card-title {
        font-size: 1.3rem;
    }

    .card-email,
    .card-ubicacion {
        font-size: 0.9rem; 
    }

    .card-descripcion,
    .card-text {
        font-size: 0.9rem;       
    }

    .denuncia-imagen {
        width: 80px;             
        height: 80px;
    }
}
