<app-header/>

<div class="cards-container">
    <app-card-mascotas-extraviados
        name="Gonsa"
        namePet="Gonsa"
        imgSrc="perros/perro07.jpeg"
        edad="2 años"
        raza="desconocido"
        sexo="Macho"
        especie="desconocido"
        telefono="961-000-0000"
        direccion="Pacu-Suchiapa"
        fecha_extravio="22 Julio 2024"
        fecha_publicacion="21 Noviembre 2024"
    />
    <app-card-mascotas-extraviados
        name="Gonsa"
        namePet="Gonsa"
        imgSrc="perros/perro07.jpeg"
        edad="2 años"
        raza="desconocido"
        sexo="Macho"
        especie="desconocido"
        telefono="961-000-0000"
        direccion="Pacu-Suchiapa"
        fecha_extravio="22 Julio 2024"
        fecha_publicacion="21 Noviembre 2024"
    />    
    <app-card-mascotas-extraviados
        name="Gonsa"
        namePet="Gonsa"
        imgSrc="perros/perro07.jpeg"
        edad="2 años"
        raza="desconocido"
        sexo="Macho"
        especie="desconocido"
        telefono="961-000-0000"
        direccion="Pacu-Suchiapa"
        fecha_extravio="22 Julio 2024"
        fecha_publicacion="21 Noviembre 2024"
    />
    <app-card-mascotas-extraviados
        name="Gonsa"
        namePet="Gonsa"
        imgSrc="perros/perro07.jpeg"
        edad="2 años"
        raza="desconocido"
        sexo="Macho"
        especie="desconocido"
        telefono="961-000-0000"
        direccion="Pacu-Suchiapa"
        fecha_extravio="22 Julio 2024"
        fecha_publicacion="21 Noviembre 2024"
    />
</div>

<app-footer/>
