.card-adopciones {
    background-color: #2C3742;
    color: white;
    border-radius: 15px;
    padding: 20px;
    width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    font-family: 'Poppins', sans-serif;
    overflow: hidden;
    text-align: center;
}

.card-header {
    display: flex;
    align-items: center;
    justify-content: left;
    margin-bottom: 15px;
}

.card-header .icon {
    color: #00BFFF;
    font-size: 24px; 
    margin-right: 10px;
}

.name-pet {
    font-size: 22px; 
    font-weight: bold;
    margin: 0;
}

.card-body .name-refugio,
.card-body .user-adopcion {
    font-size: 22px; 
    margin: 10px 0;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: left;
}

.card-body .icon {
    font-size: 20px; 
    margin-right: 10px;
}

.card-body .name-refugio i,
.card-body .user-adopcion i {
    font-size: 20px; 
    color: #00BFFF;
}

.btn-estado  {
    background-color: #00BFFF;
    border: none;
    color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 18px;
    border-radius: 15px;
    width: 100%;
    height: 50px;
    cursor: pointer;
}

.btn-estado:hover {
    background-color: #0999c9;
}

.estado-container {
    margin-top: 20px;
    text-align: center;
}

.estado {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    transition: color 0.3s ease;
}

.estado-revisado {
    color: #28a745; 
}

.estado-pendiente {
    color: #ffc107; 
}


