<div class="card-adopciones">
    <div class="card-header">
        <i class="fas fa-paw icon"></i>
        <h1 class="name-pet">{{ namePet }}</h1>
    </div>
    <div class="card-body">
        <h2 class="name-refugio"><i class="fas fa-home icon"></i> {{ nameRefugio }}</h2>
        <h2 class="user-adopcion"><i class="fas fa-user icon"></i> {{ userAdopcion }}</h2>
    </div>
    <div class="estado-container">
        <p class="estado" [ngClass]="{'estado-revisado': estado === 'Revisado', 'estado-pendiente': estado === 'Pendiente'}">
            Estado: {{ estado }}
        </p>
        <button class="btn-estado" (click)="cambiarEstado()">Cambiar estado</button>
    </div>
</div>
