<app-header-entidad nameEntidad="Huellitas" class="header-entidad"></app-header-entidad>

<div class="layout">
  <button class="hamburger-menu" (click)="toggleSidebar()">
    <i class="fas fa-bars"></i>
  </button>

  <div class="side-bar" [ngClass]="{ 'open': isSidebarOpen }">
    <button class="close-button" (click)="toggleSidebar()">
      <i class="fas fa-times"></i>
    </button>
    <ul class="side-bar-content">
      <li class="side-bar-item" (click)="openModal('Bandeja')">
        <i class="fas fa-inbox"></i> Bandeja
      </li>
      <li class="side-bar-item" (click)="openModalDenuncias('Denuncias')">
        <i class="fas fa-exclamation-circle"></i> Denuncias
      </li>
      <li class="side-bar-item" (click)="openModalAdd('Agregar')"><i class="fas fa-plus-circle"></i> Agregar Mascotas</li>
      <li class="side-bar-item" (click)="openModalView('Ver')"><i class="fas fa-eye"></i> Ver Mascotas</li>
      <li class="side-bar-item" (click)="openModalExtraviadas('Extraviadas')"><i class="fas fa-paw"></i>Mascotas Extraviadas</li>
    </ul>
  </div>

  <div class="modal-content">
    <!-- Bandeja Modal -->
    <div class="bandeja-entidad-modal" *ngIf="isModalOpen && activeModal === 'Bandeja'">
        <h1 class="tittle-entidad-section">LittlePaws - Mensajería</h1>
        
        <div class="message-list">
          <div class="message-preview" *ngFor="let message of messages" (click)="openMessage(message)">
            <img [src]="message.userImage" alt="User Image" class="user-image">
            <div class="message-info">
              <h3 class="sender-name">{{ message.senderName }}</h3>
              <p class="message-snippet">{{ message.snippet }}</p>
            </div>
          </div>
        </div>

        <div *ngIf="selectedMessage" class="message-detail">
          <h2 class="sender-name">{{ selectedMessage.senderName }}</h2>
          <p class="message-content">{{ selectedMessage.content }}</p>
          <div *ngIf="replyMessage">
              <h3 class="response-header">Tu Respuesta:</h3>
              <p class="message-response">{{ replyMessage }}</p>
          </div>
      
          <div class="message-reply">
              <textarea [(ngModel)]="replyMessage" placeholder="Escribe tu respuesta..."></textarea>
              <button class="btn-send" (click)="sendMessage()">Enviar</button>
          </div>
      </div>
    </div>

    <!-- Denuncias Modal -->
    <div class="denuncias-modal-entidad" *ngIf="isModalOpen && activeModal === 'Denuncias'">
      <app-card-denuncias/>
    </div>

    <!-- Agregar Mascotas Modal -->
<div class="agregar-mascotas-modal" *ngIf="isModalOpen && activeModal === 'Agregar'">
  <div class="form-veterinaria-register">
    <form #mascotaForm="ngForm" (ngSubmit)="onSubmit(mascotaForm)">
      <div class="form-left">
        <label for="name" class="label-form">Ingrese el nombre de la mascota</label>
        <input type="text" id="name" name="name" [(ngModel)]="mascota.name" required class="input-field" #name="ngModel" />
    
        <label for="race" class="label-form">Ingrese la raza de la mascota</label>
        <input type="text" id="race" name="race" [(ngModel)]="mascota.race" required class="input-field" #race="ngModel" />
    
        <label for="age" class="label-form">Ingrese la edad de la mascota</label>
        <input type="number" id="age" name="age" [(ngModel)]="mascota.age" required class="input-field" #age="ngModel" />
    
        <label for="gender" class="label-form">Seleccione el género de la mascota</label>
        <select id="gender" name="gender" [(ngModel)]="mascota.gender" required class="input-field" #gender="ngModel">
          <option value="macho">macho</option>
          <option value="hembra">hembra</option>
        </select>
    
        <label for="species" class="label-form">Seleccione la especie de la mascota</label>
        <select id="species" name="species" [(ngModel)]="mascota.species" required class="input-field" #species="ngModel">
          <option value="perro">perro</option>
          <option value="gato">gato</option>
          <option value="otro">otro</option>
        </select>
    
        <label for="weight" class="label-form">Ingrese el peso de la mascota (en kg)</label>
        <input type="number" id="weight" name="weight" [(ngModel)]="mascota.weight" step="0.1" required class="input-field" #weight="ngModel" />
    
        <label for="size" class="label-form">Seleccione el tamaño de la mascota</label>
        <select id="size" name="size" [(ngModel)]="mascota.size" required class="input-field" #size="ngModel">
          <option value="pequeño">pequeño</option>
          <option value="mediano">mediano</option>
          <option value="grande">grande</option>
        </select>
  
        <label for="entity_id" class="label-form">Ingrese el ID del refugio</label>
        <input type="number" id="entity_id" name="entity_id" [(ngModel)]="mascota.entity_id" required class="input-field" />

        
        <div class="button-group">
        <button type="button" class="agregar-imagenes-btn" (click)="triggerFileInput()">
          <i class="fas fa-plus"></i> Agregar Imágenes
        </button>
        <input type="file" id="file" (change)="onFileChange($event)" #fileInput hidden />
      </div>
    
        <button type="submit" [disabled]="mascotaForm.invalid" class="btn-enviar-registro">Enviar datos</button>
      </div>
    </form>
  </div>
</div>
    <!-- Ver Mascotas Modal -->
    <div class="ver-mascotas-modal" *ngIf="isModalOpen && activeModal === 'Ver'">
      <app-card-animales-entidad
      name="Pepito"
      imgSrc="perros/perro02.jpg"
      namaPet="Pepito"
      refugio="Albania"
      edad="2 años"
      raza="desconocido" />
    </div>

    <div class="mascotas-extraviadas-modal" *ngIf="isModalOpen && activeModal === 'Extraviadas'">
      <app-card-mascotas-extraviados
        name="Gonsa"
        namePet="Gonsa"
        imgSrc="perros/perro07.jpeg"
        edad="2 años"
        raza="desconocido"
        sexo="Macho"
        especie="desconocido"
        telefono="961-000-0000"
        direccion="Pacu-Suchiapa"
        fecha_extravio="22 Julio 2024"
        fecha_publicacion="21 Noviembre 2024"
        />
    </div>
  </div>
</div>

<app-footer class="footer-entidad"></app-footer>
