<div class="perfil">
    <img [src]="imgSrc" alt="perfil de veterinaria" class="perfil-imagen">
    <div class="perfil-info">
        <h1 class="name-veterinaria">{{nameVeterinaria}}</h1>
        <h3 class="descripcion-veterinaria">{{descripcionVeterinaria}}</h3>
        
        <div class="contacto-veterinaria">
            <p class="contacto-veterinaria-parrafo"><strong>Teléfono:</strong> {{telefonoVeterinaria}}</p>
            <p class="contacto-veterinaria-parrafo"><strong>Email:</strong> {{emailVeterinaria}}</p>
            <p class="contacto-veterinaria-parrafo"><strong>Dirección:</strong> {{direccionVeterinaria}}</p>
        </div>
        
        <div class="horario-veterinaria">
            <p class="horario-veterinaria-parrafo"><strong>Horario de atención:</strong></p>
            <p class="horario-veterinaria-parrafo">{{horarioVeterinaria}}</p>
        </div>
        
        <div class="redes-sociales">
            <a href="#" target="_blank" class="social-link">Facebook</a>
            <a href="#" target="_blank" class="social-link">Instagram</a>
            <a href="#" target="_blank" class="social-link">Twitter</a>
        </div>
        
        <button class="btn-solicitar-cita" (click)="abrirModal()">
            Donar
            <i class="fas fa-donate"></i>
        </button>
    </div>
</div>

<div class="modal" *ngIf="modalAbierto">
    <div class="modal-content">
        <span class="close" (click)="cerrarModal()">&times;</span>
        <h2 class="modal-titulo">Donación para {{ tituloDonacion }}</h2>
        <label class="modal-label" for="cantidadDonacion">Cantidad a donar:</label>
        <input class="modal-input" type="number" id="cantidadDonacion" [(ngModel)]="cantidadDonacion" />
        <div id="paypal-button-container"></div>
    </div>
</div>

