<app-header class="header-fixed"></app-header>

<div class="menu-vertical">
  <ul class="menu-vertical-ul">
    <li class="menu-vertical-li" (click)="enviarHome($event)"><i class="fas fa-home menu-vertical-li-i"></i> Home</li>
    <li class="menu-vertical-li"><i class="fas fa-user-plus menu-vertical-li-i"></i> Registrar</li>
    <li class="menu-vertical-li"><i class="fas fa-donate menu-vertical-li-i"></i> Donaciones</li>
    <li class="menu-vertical-li"><i class="fas fa-envelope menu-vertical-li-i"></i> Mensajes</li>
    <li class="menu-vertical-li"><i class="fas fa-sign-out-alt menu-vertical-li-i"></i> Cerrar Sesión</li>
  </ul>
</div>

<div class="modal-register">

</div>

<div class="modal-donaciones">

</div>

<div class="">

</div>
<app-footer class="footer-fixed"></app-footer>
