<app-header></app-header>

<div class="registrar-vet">
  <h1 class="register-title">¿Quieres registrar tu veterinaria?</h1>
  <button class="btn-register" (click)="enviarRegistrar($event)">Click ¡aquí!</button>
</div>

<div class="card-container">
  <app-card-veterinarias
    *ngFor="let veterinaria of veterinarias"
    [nameVeterinaria]="veterinaria.name"
    [ImgSrc]="veterinaria.image"
    [Horario]="veterinaria.hours_operation"
    [ruta]="'/perfil-veterinaria/' + veterinaria.id_entity">
  </app-card-veterinarias>
</div>

<app-footer></app-footer>
