<app-header/>

<div class="registrar-vet">
    <h1 class="register-title">¿Quieres registrar tu veterinaria?</h1>
    <button class="btn-register" (click)="enviarRegistrar($event)">Click ¡aqui!</button>
</div>

<div class="card-container">
    <app-card-veterinarias 
        nameVeterinaria="Clinica veterinaria Zoo"
        ImgSrc="veterinaria/Zoo.jpeg"
        Horario="8:00 am a 8:00 pm"
        ruta="perfil-veterinaria-zoo"/>
    <app-card-veterinarias
        nameVeterinaria="Fauna"
        ImgSrc="veterinaria/fauna.jpg"
        Horario="9:00 am a 5:00 pm"
        ruta="/"/>
    <app-card-veterinarias 
        nameVeterinaria="Animal Vet"
        ImgSrc="veterinaria/animal-vet.jpg"
        Horario="7:00 am a 7:00 pm"
        ruta="/"/>
    <app-card-veterinarias 
        nameVeterinaria="Art Animal"
        ImgSrc="veterinaria/ArtAnimal.png"
        Horario="7:00 am a 3:00 pm"
        ruta="/"/>
    <app-card-veterinarias
        nameVeterinaria="San Martin de Porres"
        ImgSrc="veterinaria/SanMartin.jpg"
        Horario="8:00 am a 9:00 pm"
        ruta="/"/>
</div>

<app-footer/>
