<app-header/>
<div class="form-container">
    <form action="a" class="form-centered">
        <h1 class="">Login</h1>
        <div class="input-group">
            <input type="text" id="email" class="input-group_input" required />
            <label for="email" class="input-group_label">Ingrese su correo</label>
        </div>

        <div class="input-group">
            <input type="password" id="password" class="input-group_input" required />
            <label for="password" class="input-group_label">Ingrese su contraseña</label>
        </div>
    </form>
</div>
