.terms-container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px; 
}

.titulo-adopcion {
    max-width: 1200;
}

.terms-title {
    font-family: 'Poppins';
    text-align: center;
    color: white; 
    margin-bottom: 20px;
}

.terms-section-title {
    font-family: 'Poppins';
    color: #00E8F8; 
    margin-top: 20px;
}

.terms-paragraph {
    font-family: 'Poppins';
    line-height: 1.6;
    margin: 10px 0;
    color: white;
}

.signature-section {
    margin-top: 30px;
}