<app-header/>

<div class="card-donaciones-container">
    <app-card-donaciones 
        imagenCausa="donaciones/frontend.webp"
        tituloDonacion="Apoyo a la Vista de la App"
        descripcionCausa="Apoyo para el desarrollo y estética de la aplicación, para seguir mejorando y darle un futuro a las mascotas."
        [porcentajeDonacion]="50"
        [metaDonacion]="3000"
        [cantidadDonada]="1500"/>
    
    <app-card-donaciones 
        imagenCausa="donaciones/Backend.webp"
        tituloDonacion="Funcionamiento Interno"
        descripcionCausa="Apoyo para mejorar la rapidez de la aplicación y servicios que la aplicación ofrece para el bienestar de las mascotas."
        [porcentajeDonacion]="30"
        [metaDonacion]="5000"
        [cantidadDonada]="1500"/>
    
    <app-card-donaciones 
        imagenCausa="donaciones/baseDatos.jpg"
        tituloDonacion="Apoyo al servidor"
        descripcionCausa="Apoyo para mejorar la rapidez de la aplicación y servicio de la aplicación."
        [porcentajeDonacion]="30"
        [metaDonacion]="5000"
        [cantidadDonada]="1500"/>
</div>

<h1 class="ubication-veterinaria-principal">
    <i class="fas fa-dog"></i> Gracias por donar a Fundacion LittlePaws
</h1>

<app-footer/>