.chat-container {
  max-width: 600px;
  margin: 0 auto;
  border: 1px solid #ccc;
  border-radius: 15px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  height: 80vh;
  background-color: #ffffff;
}

.head-chatbot {
  background-color: #1F252E;
  padding: 15px;
  text-align: center;
  border-bottom: 2px solid #00E8F8;
}

.head-title {
  font-family: 'Poppins', sans-serif;
  color: #00E8F8;
  font-size: 24px;
  margin: 0;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.messages {
  padding: 20px;
  flex: 1;
  overflow-y: auto;
  background-color: #F0F0F0;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.message {
  display: flex;
  align-items: flex-start;
}

.message-content {
  display: flex;
  align-items: center;
  max-width: 75%;
  background-color: #ffffff;
  padding: 10px 15px;
  border-radius: 15px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  position: relative;
}

.user-message .message-content {
  background-color: #00E8F8;
  color: #000;
  align-self: flex-end;
  flex-direction: row-reverse;
  text-align: right;
}

.chatbot-message .message-content {
  background-color: #1F252E;
  color: #fff;
  align-self: flex-start;
  text-align: left;
}

.user-icon {
  font-size: 20px;
  color: #ffffff;
  margin-left: 10px;
}

.avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin: 0 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.input-form {
  display: flex;
  padding: 15px;
  background-color: #fff;
  border-top: 1px solid #ccc;
  justify-content: space-between;
}

.campo-chat {
  flex: 1;
  padding: 10px 15px;
  border: 2px solid #ccc;
  border-radius: 25px;
  font-size: 16px;
  transition: border-color 0.3s;
  font-family: 'Poppins';
  color: #000;
}

.campo-chat:focus {
  border-color: #00E8F8;
  outline: none;
}

.campo-chat::placeholder {
  color: #888; 
}

.enviar-btn {
  background-color: #1F252E;
  color: #fff;
  border: none;
  border-radius: 50%;
  padding: 10px;
  width: 45px;
  height: 45px;
  cursor: pointer;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.respuesta-chat {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  font-size: 16px;
  line-height: 1.4;
  word-wrap: break-word;
}


/**/
.chat-wrapper {
  position: fixed; /* Fijo para que permanezca en la pantalla */
  left: 20px; /* Espacio desde la izquierda */
  bottom: 20px; /* Espacio desde la parte inferior */
  display: flex;
  flex-direction: column; /* Apilar el botón y el chat verticalmente */
  align-items: flex-start; /* Alinear a la izquierda */
}

.chat-toggle-btn {
  background-color: #00E8F8; /* Color del botón */
  color: #1F252E; /* Color del texto */
  border: none;
  border-radius: 50%; /* Redondear el botón */
  padding: 15px; /* Espaciado para hacerlo más grande */
  cursor: pointer;
  margin-bottom: 10px; /* Espacio entre el botón y el chat */
  font-family: 'Poppins', sans-serif;
  font-size: 24px; /* Tamaño de la fuente del ícono */
  transition: background-color 0.3s;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra para dar profundidad */
}

.chat-toggle-btn:hover {
  background-color: #1F252E; /* Color al pasar el ratón */
  color: #00E8F8; /* Cambiar el color del texto al pasar el ratón */
}

@media (max-width : 768px) {
  .chat-container {
    max-width: 400px;
  }

  .campo-chat {
    width: 250px;
  }
}

  /*
  
#1F252E
#00E8F8

*/