.chat-container {
    max-width: 600px;
    margin: 0 auto;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    height: 80vh;
  }

  .head-chatbot {
    background-color: #007bff;
  }

  .head-tittle {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    color: white;
  }
  
  .messages {
    padding: 20px;
    flex: 1;
    overflow-y: auto;
    background-color: #f9f9f9;
  }
  
  .message {
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    max-width: 75%;
    position: relative;
  }
  
  .user-message {
    background-color: #e0f7fa;
    align-self: flex-end;
  }
  
  .chatbot-message {
    background-color: #ffe0b2;
    align-self: flex-start;
  }
  
  .input-form {
    display: flex;
    padding: 10px;
    background-color: #fff;
    border-top: 1px solid #ccc;
  }
  
  .campo-chat {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
    font-size: 16px;
  }
  
  .enviar-btn {
    background-color: #00BFFF;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s;
  }
  
  .enviar-btn:hover {
    background-color: #0056b3;
  }
  
  .respuesta-chat {
    font-family: 'Poppins', sans-serif;
  }

  /*
  
#1F252E
#00E8F8

*/